[submodule "ModdingToolBase"]
	path = ModdingToolBase
	url = https://github.com/AnakinRaW/ModdingToolBase
[submodule "ModVerify"]
	path = ModVerify
	url = https://github.com/AlamoEngine-Tools/ModVerify
